<div class="modal fade bs-example-modal-sm mt-5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm mt-5">
    <div class="modal-content">
      <div class="modal-header"><h4>Cerrar Sesión <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> ¿Estás seguro que deseas salir?</div>
      <div class="modal-footer"><a (click)="tokenService.logOut()" id="exit" class="btn btn-primary btn-danger text-white">Logout</a></div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-custom-2 ">
  <a class="navbar-brand" href="/home"><i class="fas fa-laptop-medical"></i> Medical Quotes</a>
  <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">

      <ng-container *ngIf="tokenService.isUserLoggedIn() && tokenService.getRole()=='doctor' ">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/patients">Pacientes</a>
      </li>


      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/appointments">Citas</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/medicines">Medicamentos</a>
      </li>
    </ng-container >
    <ng-container *ngIf="tokenService.isUserLoggedIn() && tokenService.getRole()=='patient' ">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/appointmentsPatient">Mirar citas</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/appointments/create">Crear cita</a>
      </li>
    </ng-container >
    </ul>
    <ng-container *ngIf="tokenService.isUserLoggedIn();  else: loginTmpl">

      <ul class="navbar-nav navbar-center">

        <!-- <li> <button    type="submit" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-danger">
          Cerrar sesión</button>
        </li> -->
        <li class="dropdown show mr-5">
          <a class="dropdown-toggle mr-3" data-toggle="dropdown" href="#"></a>
          <i class="far fa-user fa-2x text-white"></i>

          <ul class="dropdown-menu">
            <li class="dropdown-item "><a href="#"  data-toggle="modal" data-target=".bs-example-modal-sm" >Salir</a></li>
          </ul>
        </li>
      </ul>
    </ng-container >


    <ng-template #loginTmpl>
    <ul class="navbar-nav navbar-right">
      <li><a routerLink="/login" class="btn btn-outline-primary">Sign In</a></li>
    </ul>
  </ng-template>
  </div>
</nav>

