<div class="card-head text-muted pl-2">
  <h1>Crear Paciente</h1>
</div>
<div class="card-body pl-4">

  <form [formGroup]="formPacient" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Código de la seguridad social</label>
      <input class="form-control" type="number" formControlName="SSCode" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.SSCode.errors && formulario.SSCode.touched"
      >
        <div>El código de la seguridad social:</div>
        <div *ngIf="formulario.SSCode.errors.required">
          No puede estar vacio
        </div>
        <div *ngIf="formulario.SSCode.errors.maxlength">
          Deber contener menos de 11 carácteres
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Login</label>
      <input class="form-control" type="text" formControlName="login" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.login.errors && formulario.login.touched"
      >
        <div>El login:</div>
        <div *ngIf="formulario.login.errors.required">No puede estar vacio</div>
        <div *ngIf="formulario.login.errors.minlength">
          Deber contener más de 8 carácteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input class="form-control" type="password" formControlName="password" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.password.errors && formulario.password.touched"
      >
        <div>La contraseña:</div>
        <div *ngIf="formulario.password.errors.required">
          No puede estar vacia
        </div>
        <div *ngIf="formulario.password.errors.minlength">
          Deber contener más de 8 carácteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" type="text" formControlName="name" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.name.errors && formulario.name.touched"
      >
        <div>El Nombre:</div>
        <div *ngIf="formulario.name.errors.required">No puede estar vacio</div>
        <div *ngIf="formulario.name.errors.maxlength">
          Deber contener más de 20 carácteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Apellidos</label>
      <input class="form-control" type="text" formControlName="lastname" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.lastname.errors && formulario.lastname.touched"
      >
        <div>Los Apellidos:</div>
        <div *ngIf="formulario.lastname.errors.required">
          No pueden estar vacios
        </div>
        <div *ngIf="formulario.lastname.errors.maxlength">
          Deber contener más de 35 carácteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Fecha de nacimiento</label>
      <input class="form-control" type="date" formControlName="date_of_birth" />
      <div
        class="alert alert-danger"
        *ngIf="
          formulario.date_of_birth.errors && formulario.date_of_birth.touched
        "
      >
        <div>La fecha de nacimiento:</div>
        <div *ngIf="formulario.date_of_birth.errors.required">
          No puede estar vacia
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Rol</label>
      <select [compareWith]="compare" class="form-control" formControlName="role">
        <option [ngValue]="undefined" >Selecciona un rol</option>
        <option *ngFor="let role of roles" [ngValue]="role">{{
          role.name
        }}</option>
      </select>
      <div
        class="alert alert-danger"
        *ngIf="formulario.role.errors && formulario.role.touched"
      >
        <div>El rol:</div>
        <div *ngIf="formulario.role.errors.required">No puede estar vacio</div>
      </div>
    </div>

    <div class="form-group">
      <label>Doctor</label>
      <select [compareWith]="compare" class="form-control" formControlName="doctor">
        <option [ngValue]="undefined" >Selecciona un doctor</option>
        <option *ngFor="let doctor of doctors" [ngValue]="doctor">{{
          doctor.name
        }}</option>
      </select>
      <div
        class="alert alert-danger"
        *ngIf="formulario.doctor.errors && formulario.doctor.touched"
      >
        <div>El doctor:</div>
        <div *ngIf="formulario.doctor.errors.required">
          No puede estar vacio
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Alergias</label>
      <input class="form-control" type="text" formControlName="allergies" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.date_of_birth.errors && formulario.allergies.touched"
      >
        <div>Las alergias:</div>
        <div *ngIf="formulario.allergies.errors.maxlength">
          Deber contener más de 400 carácteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Cancer</label>
      <input class="form-control" type="text" formControlName="cancer" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.cancer.errors && formulario.cancer.touched"
      >
        <div>El Cancer:</div>
        <div *ngIf="formulario.cancer.errors.required">
          No puede estar vacio
        </div>
        <div *ngIf="formulario.cancer.errors.maxlength">
          Deber contener menos de 25 carácteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Enfermedades</label>
      <input class="form-control" type="text" formControlName="diseases" />
      <div
        class="alert alert-danger"
        *ngIf="formulario.diseases.errors && formulario.diseases.touched"
      >
        <div>Las enfermedades:</div>
        <div *ngIf="formulario.diseases.errors.required">
          No pueden estar vacias
        </div>
        <div *ngIf="formulario.diseases.errors.maxlength">
          Deber contener menos de 50 carácteres
        </div>
      </div>
    </div>

    <div>
      <button class="btn btn-primary">Enviar</button>
      <button class="btn btn-danger" type="reset">Cancelar</button>
    </div>
  </form>
</div>
