<div class="card-head text-muted ml-4">
  <h1>Citas </h1>
</div>
<div class="card-body">
  <div class="float-right mb-3">
  <button type="button" routerLink="/appointment/create"   class="btn btn-info">Crear nueva cita</button>
</div>
<table class="table table-hover"  matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="id" >Id</th>
      <th mat-sort-header="assement" >Valoración</th>
      <th  mat-sort-header="status" >Estado</th>
      <th mat-sort-header="date" >Fecha</th>
      <th></th>
    </tr>
  </thead>
  <tbody  *ngFor="let appointment of sortedData">
    <tr>
      <th scope="row">{{appointment.id}}</th>
      <td>{{appointment.assement}}</td>
      <td>{{appointment.status}}</td>
      <td>{{appointment.date | date:"dd-MM-yyyy HH:mm"}}</td>
      <td>
        <button type="button" routerLink="/appointments/edit/{{appointment.id}}" class="btn btn-info"> <i class="far fa-edit"></i></button>
        <button type="button"  (click)="delete(appointment)"  class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>

  </tbody>
  <div *ngIf="this.appointments.length==0" >No tiene citas asignadas </div>


</table>

</div>
